{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Gerenciador de vestibulares</h1>
    <p class="lead">Gerencie seus vestibulares.</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastro de cursos</h2>
        <p>
            Cadastre os cursos que poderão participar dos seus vestibulares.
        </p>
        <p><a class="btn btn-default" href="{% url 'cadastro_cursos' %}">Acessar &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Criação de vestibulares</h2>
        <p>Crie os vestibulares que o sistema irá gerenciar.</p>
        <!-- <p><a class="btn btn-default" href=" url 'criacao_vestibulares' ">Acessar &raquo;</a></p> -->
        <p><a class="btn btn-default">Em construção &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscrição de candidatos</h2>
        <p>Inscreva candidatos nos vestibulares e consulte as inscrições em cada curso.</p>
        <!-- <p><a class="btn btn-default" href=" url 'inscricao_vestibulares' ">Acessar &raquo;</a></p> -->
        <p><a class="btn btn-default">Em construção &raquo;</a></p>
    </div>
</div>

{% endblock %}
